* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
    color: #fc6500;
    font-family: "Montserrat", sans-serif;
  }
 

  
  html,
  body {
    height: 100%;
  
    width: 100%;
  }
  *::selection {
    background-color: #fff;
    color: #ff8d21;
  }
  
  body::-webkit-scrollbar {
    display: block;
    width: 8px;
    background: #ff8d21;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #fff;
  
    border-radius: 50px;
  }
  body {
    overflow-x: hidden;
  }
  #cursor {
    height: 20px;
    width: 20px;
    background-color: #ff8d21;
    mix-blend-mode:normal;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    transition: all linear 0.1s;
  }
  #cursor-blur {
    height: 500px;
    width: 500px;
    background-color: rgba(243, 146, 20, 0.616);
    border-radius: 50%;
    position: fixed;
    filter: blur(80px);
    z-index: 9;
    transition: all linear 0.4s;
  }
  #nav {
    height: 18vh;
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    padding: 0 120px;
    gap: 50px;
    position: fixed;
    justify-content: flex-start;
    z-index: 999;
  }
  #nav img {
    height: 8vw;
    border-radius: 50%;
  }
  #nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #nav li{
    display: inline-block;
    margin: 0 10px;
  }
  #nav a{
    color: #000000;
    text-decoration: none;

  }
  #nav a:hover{
    color: antiquewhite;

  }
  
  #main {
    position: relative;
    background-color: #fff;
  }
  
  #page1 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
  }
  #page1 h1 {
    font-size: 6vw;
    font-weight: 900;
    position: relative;
  }
  #page1 h1::before {
    content: "ROAM. RELISH. REPEAT.";
    position: absolute;
    color: #000;
    top: -5px;
    left: -5px;
    -webkit-text-stroke: 1.5px #ff8d21;
    z-index: -1;
  }
  #page1 h2 {
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  #page1 p {
    font-size: 1.2vw;
    font-weight: 500;
    width: 40%;
  }
  #page1 button{
    z-index: 2000;
    position: absolute;
    top: 80%;
    padding: 30px 35px;
    border: none;
    border-radius: 40px;
    background-color: #fc6500;
    color: #fff;
    font-size: 1.3vw;
    font-weight: 500;
    transition: background-color,color,border,opacity 0.15s;
  }

  #page1 button:hover{
    background-color: #fff4df;
    color: #fc6500;
    border: 2px #fc6500 ;
  }
  #page1 button:active{
    opacity: 0.5;
  }
  #page2 {
    min-height: 50vh;
    width: 100%;
    z-index: 10;
  }
  
  #scroller {
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
  }
  #scroller::-webkit-scrollbar {
    display: none;
  }
  #scroller-in {
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  #scroller h4 {
    display: inline-block;
    font-size: 120px;
    font-weight: 900;
    font-family: gilroy;
    margin-right: 20px;
    transition: all linear 0.3s;
    color: #000;
    -webkit-text-stroke: 2px #ffffff;
  }
  #scroller h4:hover {
    color: #ff8d21;
    -webkit-text-stroke: 2px #ff8d21;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }